$tablet-width: 1279px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$Gilroy: "Gilroy", "Helvetica", sans-serif;

$white: #ffffff;
$blue: #8ecae4;
$dark-blue: #1d9cd8;
$black-selected: #0e0e0e;
$black: #000000;
