footer.footer
  .footer__inner
    .footer__item.footer__item--call
      a(class="footer__logo link" href="https://www.pult.ru/" target="_blank" )
        img(src="img/logo_pult_footer.svg" alt="Logo pult" width="86" height="45")
      .footer__call
        a(class="footer__tel link" href="tel:+78005555152" target="_blank") 8(800)555-51-52
        p Звонок по России бесплатный
    .footer__item.site-nav
      ul.site-nav__list
        li.site-nav__item
          a(class="site-nav__link link" href="#") Акустика
        li.site-nav__item
          a(class="site-nav__link link" href="#") HI-FI
        li.site-nav__item
          a(class="site-nav__link link" href="#") Винил
        li.site-nav__item
          a(class="site-nav__link link" href="#") Наушники
        li.site-nav__item
          a(class="site-nav__link link" href="#") Телевизоры
        li.site-nav__item
          a(class="site-nav__link link" href="#") Проекторы
      ul.site-nav__list
        li.site-nav__item
          a(class="site-nav__link link" href="#") Распродажа
        li.site-nav__item
          a(class="site-nav__link link" href="#") Outlet
        li.site-nav__item
          a(class="site-nav__link link" href="#") Акции
        li.site-nav__item
          a(class="site-nav__link link" href="#") Бонусы и скидки
        li.site-nav__item
          a(class="site-nav__link link" href="#") Рассрочка
      ul.site-nav__list
        li.site-nav__item
          a(class="site-nav__link link" href="#") О комании
        li.site-nav__item
          a(class="site-nav__link link" href="#") Контакты
        li.site-nav__item
          a(class="site-nav__link link" href="#") Салоны
        li.site-nav__item
          a(class="site-nav__link link" href="#") Новости
    .footer__item.footer__item--copyright
      p 2021 © / pult.ru / все права защищены