header.header
  a(class="header__link link" href="https://www.pult.ru/")
    img(src="img/gallo_acoustics_logo.svg" alt="Gallo Acoustics" target="_blank" width="162" height="50")
  a(class="header__link link" href="https://www.pult.ru/")
    img(src="img/logo-pult.svg" alt="Logo pult" target="_blank" width="57" height="30")
