header.header
  a(class="header__link link" href="https://www.pult.ru/" target="_blank" )
    img(src="img/gallo_acoustics_logo.svg" alt="Gallo Acoustics" width="162" height="50")
  a(class="header__link link" href="https://www.pult.ru/" target="_blank" )
    img(src="img/logo-pult.svg" alt="Logo pult" width="57" height="30")
